/* Page Layout */
header, footer { text-align: center; }

#notice, #loading, #tasks, #charts, #task-list, #task-list tfoot, #nothing, #modal-overlay, #modal, #edit-tasks, #js-error { display: none; }

#loading {
    position: fixed;
    bottom: 5px;
    left: 5px;
}

#tools-button {
    position: fixed;
    right: 5px;
    top: 5px;
}

#tools-alert {
    position: fixed;
    top: 0px;
    right: 0px;
    
    width: 0;
    height: 0;
    
    padding: 0;
    border-radius: 0 0 0 360px;
    box-shadow: 0 0 20px cyan;
}

button { margin: 2px 0px; }
button.save, button.cancel { padding: 1px; }

hr { border-color: #E9E9E9; }

/* Header */
h1, h2 { margin: 0; }
h1 { font-size: 2em; font-weight: bold; }
h2 { font-size: 1em; font-weight: normal; }

/* Alerts */
#error, #saved {
    position: fixed;
    padding: 3px;
    
    border: 1px solid;
    border-radius: 5px;
    
    display: none;
}

#error {
    color: #D8000C;
    background-color: #FFBABA;
    box-shadow: 0 0 15px red;
}

#saved {
    color: #4F8A10;
    background-color: #DFF2BF;
    box-shadow: 0 0 15px lime;
}

/* Notes */
.note {
    margin: 10px auto 0px auto;
    padding: 5px;
    width: 70%;
    min-width: 960px;
    
    background-color: #D7F0D7;
    
    border: 1px solid #C8E1C8;
    border-radius: 5px;
}

#close-notice {
    float: right;
}

/* Task List */
#tasks {
    padding: 5px;
    text-align: center;
}

#new-task {
    margin-top: 20px;
}

#new-start { margin: 0 30px; }

#no-tasks {
    font-weight: bold;
    font-size: 1.5em;
}

#task-list {
    width: 100%;
    margin: 0 auto;
    border-spacing: 0px 3px;
}

tbody tr.running { background-color: #D5F0F0; }
tbody tr.running td.text { background: url(images/task-running.gif) no-repeat left center; }
tbody tr.done { background-color: #D7F0D7; }

tbody tr td:first-child { border-radius: 5px 0px 0px 5px; }
tbody tr td:last-child { border-radius: 0px 5px 5px 0px; }

tbody td.drag {
    background: url(images/drag.gif) repeat-y center center;
    cursor: move;
}

td.progress progress { width: 95%; }

td.drag { width: 10px; }
td.text { width: 38%; }
td.options { width: 20%; }
td.current { width: 10%; }
td.goal { width: 10%; }
td.progress { width: 20%; }

.editing-current td.text, .editing-goal td.text { width: 28%; }
.editing-current td.current { width: 20%; }
.editing-goal td.goal { width: 20%; }

tfoot td.text, tfoot td.current, tfoot td.goal, tfoot td.progress {
    /*border-top: 2px solid #E9E9E9;*/
    font-weight: bold;
}

/* Pie Charts */
#charts { padding: 5px; }
#current-pie-title, #total-pie-title { font-weight: bold; font-size: 1.1em; }

#current-pie { margin: 0 auto; text-align: center; width: 48%; }
/*#total-pie { float: right; width: 48%; }*/

#current-pie-chart, #total-pie-chart {
    width: 100%;
    height: 400px;
}

/* Tools Modal */
#modal, #modal-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    
    width: 100%;
    height: 100%;
}

#modal-overlay {
    background-color: black;
    opacity: .70;
}

#modal-contents {
    position: relative;
    top: 0;
    left: 100%;
    
    margin: 0;
    padding: 10px;
    
    width: 450px;
    height: 100%;
    overflow: auto;
    
    border-left: 1px solid black;
    
    background: #e9f6fd;
    background: -webkit-linear-gradient(top, #e9f6fd 0%,#d3eefb 100%);
    background: linear-gradient(top, #e9f6fd 0%,#d3eefb 100%);
}

#close-modal {
    float: right;
}

.tools-group {
    margin-bottom: 30px;
}

.tools-group h2 {
    font-weight: bold;
    text-decoration: underline;
}

/* JS Error */
#big-error-thang {
    margin-bottom: 30px;
    
    color: red;
    font-size: 1.1em;
    font-weight: bold;
}

#error-info {
    margin-bottom: 30px;
}